---
layout: default
permalink: /
---

<div class="home">
  <div class="row">
    <div class="col-md-3">
      <img class="img img-responsive thumbnail" src="https://scontent-lax3-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/13083175_116946215376557_8474910563597887007_n.jpg?oh=81993bb47687955cb6dce875afec05c2&oe=57BFE9D3">
      <div class="row">
        <a href="{{ site.baseurl }}/events/"><h3 class="text-center text-muted">Upcoming Events</h3></a>
        <hr />
        {% for event in site.events limit:3 | sort: 'eventDate' %}
          {% if event.title %}
            <a href="{{ site.baseurl }}{{ event.url }}">
              <blockquote>
                {{ event.title }}<br />
                {{ event.eventDate }}
              </blockquote>
            </a><br />
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="col-md-6">
      {% include about.html %}

      {% include write-in.html %}

    </div>
    <div class="col-md-3 text-center">
      <div class="row">
        <h1><small>Spread the Word</small></h1>
      </div>
      <span>
        <a href="{{ site.facebook_page }}" target="_blank">
          <i class="fa fa-3x fa-facebook"></i>
        </a>
        &nbsp;
        <a href="{{ site.baseurl }}/contact/">
          <i class="fa fa-3x fa-at"></i>
        </a>
      </span>
      <div class="row">
        <h1> <small>Days Until Elections</small></h1>
        <h2><strong>{% include countdown.html %}</strong></h2>
        <div id="electionDay"></div>
      </div>
      <div class="row">
        <h1> <small>Donate</small></h1>
          <a href="{{ site.baseurl }}/donate/">
            <i class="fa fa-3x fa-paypal"></i>
            <h3><small>More Info</small></h3>
          </a>
      </div>
    </div>
  </div>
    <!-- <h1 class="page-heading">Posts</h1> -->
  <div class="row">
    <ul class="post-list">
      {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
      {% endfor %}
    </ul>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  </div>
</div>
