<h2><small>Hello Boise County...</small></h2>
<p>
  My name is Jim Kaczmarek. Many of you already know me from my 13 years of living in Boise County and 12 years as a deputy for the Boise County Sheriff’s Office. I’ve had the pleasure of serving you in a variety of assignments and positions, both law enforcement related and others.
</p>
<p>
  It is with pleasure and anticipation that I have decided to run for the office of Boise County Sheriff. After serving our community for so many years, Sheriff Ben Roeber announced his resignation on 4-12-16. This opened an opportunity that was unforeseen but has many consequences for our community. After much deliberation, my wife and I decided that despite the short amount of time available to run as a write in candidate for Sheriff on the Republican primary election that will be held on May 17th 2016, this is the time for me to take this service on. I filed as a write in candidate on 4-13-16.
</p>
<p>
  I have worked my way through the ranks of the Boise County Sheriff’s Office from Deputy, to Corporal, to Detective, to Sergeant and currently have the honor of being the School Resource Officer in Idaho City for the Basin School District. Throughout each of my assignments, I have built and fostered relationships with the citizens of Boise County, the many different stakeholders in our community and each of the different local, state and federal organizations that provide services to our community.
</p>
<p>
  I put myself forward for further service to the citizens of Boise County, ready with the experience and a plan that will ensure that the Boise County Sheriff’s Office’s mission will be first and foremost, for the safety of our citizens, the protection of their freedoms and constitutional rights as provided by the United States Constitution and the Constitution of the State of Idaho, the protection of their property, the protection of their children and the educational environment that they live and learn in, and the protection of the victims of crime in our county.
</p>
<p>
I ask that on May 17th 2016, you write in my name, Jim Kaczmarek, for Boise County Sheriff on your ballot.
</p>
<p>
  I look forward to speaking with each of you to answer your questions and thank each and every one of you for the opportunity to continue to serve you.
</p>
<p>
  Det. Jim Kaczmarek <br />
  Boise County Sheriff’s Office
</p>
