<!-- <span id="displayMoment"></span>

{% js vendors/moment.js %}
<script>
  // instantiate a moment object
  var NowMoment = moment().format("YYYY");
  // display value of moment object in #displayMoment div
  var eDisplayMoment = document.getElementById('displayMoment');
  eDisplayMoment.innerHTML = NowMoment;
</script> -->
{% js vendors/countdown.js %}
<div id="electionDay"></div>
<script type="text/javascript">
   $("#electionDay")
   .countdown("2016/05/17", function(event) {
     $(this).text(
       event.strftime('%D')
     );
   });
</script>
