<h1><small><i class="fa fa-3x fa-pencil"></i> Why Write In?</small></h1>
<p>
  Our current Sheriff, Ben Roeber, turned in his resignation on April 12th. Because of the short timeline, the ballets could not be changed, so while Ben Roeber will still be an option on the ballet, Jim Kaczmarek must be <strong>written in</strong>. Jim will be mailing out business cards with the correct spelling of his name to all registered voters, however the law does state that as long as the intention of the voter is clear, the vote will count. As an deputy of Boise County for 12 years, Jim Kaczmarek is an experienced officer, and will continue to serve his county with professionalism and pride.
</p>
